.h1-home {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.imagen-picachu {
    display: block;
    margin: auto;
    padding-left: 80px;
    width: 400px;
    height: 350px;
  }